<!DOCTYPE html>

<HTML>
    <HEAD>
        <TITLE>{{title}}</TITLE>
    </HEAD>
    <BODY>
        <div class="main-content">
            {{>header}}
            <p>{{'error message'}}</p>
        </div>
        {{>footer}}
    </BODY>
</HTML>

