<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather</title>
  </head>
  <body>
    <div class="main-content">
        {{>header}}
          <h2>{{message}}</h2>
          <form>
            <input placeholder="location">
            <button>Submit</button>

            <p id="message-one"></p>
            <p id="message-two"></p>
          </form>
          <script src="/js/app.js"></script>
    </div>
    {{>footer}}    
  </body>
</html>
